@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MONT/Montserrat-SemiBold.eot');
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url('../fonts/MONT/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MONT/Montserrat-SemiBold.woff') format('woff'),
		url('../fonts/MONT/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MONT/Montserrat-Bold.eot');
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('../fonts/MONT/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MONT/Montserrat-Bold.woff') format('woff'),
		url('../fonts/MONT/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MONT/Montserrat-Regular.eot');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('../fonts/MONT/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MONT/Montserrat-Regular.woff') format('woff'),
		url('../fonts/MONT/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MONT/Montserrat-Medium.eot');
	src: local('Montserrat Medium'), local('Montserrat-Medium'),
		url('../fonts/MONT/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MONT/Montserrat-Medium.woff') format('woff'),
		url('../fonts/MONT/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MONT/Montserrat-ExtraBold.eot');
	src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
		url('../fonts/MONT/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MONT/Montserrat-ExtraBold.woff') format('woff'),
		url('../fonts/MONT/Montserrat-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

